.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0) !important;	
    font-weight: 400;
    font-size: 16.5px;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    font-weight: 700;
}

.text-dark {
    color: #212529!important;
    font-size: 25px;
}

